<li>
    <a href="~/Departments/Index">
        <i class='bx bx-grid-alt'></i>
        <span class="links_name">Department</span>
    </a>
</li>
<li>
    <a href="~/Information/Index">
        <i class='bx bx-user'></i>
        <span class="links_name">User</span>
    </a>
</li>
<li>
    <a href="~/Categories/Index">
        <i class='bx bx-folder'></i>
        <span class="links_name">Category</span>
    </a>
</li>
<li>
    <a href="~/Ideas/TestIndex">
        <i class='bx bx-folder-open'></i>
        <span class="links_name">List Ideas</span>
    </a>
</li>
<li>
    <a href="~/Authen/ChangePassword">
        <i class='bx bx-lock'></i>
        <span class="links_name">Change Password</span>
    </a>
</li>