

<li>
    <a href="~/Ideas/TestIndex">
        <i class='bx bx-grid-alt'></i>
        <span class="links_name">List Ideas</span>
    </a>
</li>
<li>
    <a href="~/Authen/ChangePassword">
        <i class='bx bx-lock'></i>
        <span class="links_name">Change Password</span>
    </a>
</li>