
<li>
    <a href="~/Ideas/Create">
        <i class='bx bx-plus'></i>
        <span class="links_name">Create Idea</span>
    </a>
</li>
<li>
    <a href="~/Ideas/TestIndex">
        <i class='bx bx-grid-alt'></i>
        <span class="links_name">List Idea</span>
    </a>
</li>
<li>
    <a href="~/Ideas/IndexGuest">
        <i class='bx bx-book'></i>
        <span class="links_name">My Idea</span>
    </a>
</li>
<li>
    <a href="~/Authen/ChangePassword">
        <i class='bx bx-lock'></i>
        <span class="links_name">Change Password</span>
    </a>
</li>


